#CPP
*.cpp~
#Head
*.h~
#Eclipes
.*
#MD
*.md~
#C
*.c~
#Assembly
*.s~
*.o
#Complies out
a.out
#Test Text
*.txt
*.txt~
#Tags
tags
#VS2015
*.exe
*.config
*.csproj
*.sln
/csharp/csharp-study/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
#python
test.py